.map path {
    transition: all 0.3s;
    cursor: pointer;
}

.map
    path:hover:not([data-id='AzovSea']):not([data-id='BlackSea']):not(
        [data-id='Rostovskaya Stavropolskiy']
    ):not([data-id='Adygeya']):not([data-id='KarachaevoCherkesskaya']):not(
        [data-id='Abkhazia']
    ):not([data-id='Kerch']):not([data-id$='Text']) {
    fill: crimson;
    stroke-width: 4;
}
